.font-logo{
    font-family: "Satisfy";
}
.img-banner{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}
.img-carrito{
    width: 50px;
    height: 50px;
    justify-content: right;
}
.footer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.items-nav{
    padding-top: 10px;
}
.footer{
    text-align: center;
}
.title-product{
    text-align: center;

}
.bold{
    font-weight: bold;
}
.total{
    margin-top: 10px;
    margin-left: 10px;
}
.boton-confirm-color{
    background-color: cornsilk;
    border: solid 1px;
    border-color: black;
}
.img-card{
    max-width:100%;
    height:auto;
}